.friendsItemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friendPhoto {
  padding-bottom: 10px;
}

.friendName {
  font-size: 22px;
  font-weight: 500;
}

.isOnline {
  color: #08db08;
}

.isOffline {
  color: rgb(222, 8, 8);
}
