.friends {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.friendsItem {
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid #242424;
  padding: 8px;
  width: calc(100% / 5);
}

.friendsItem:last-child {
  margin-right: 0;
}
